label#send-to{
   font-size:18px;
   font-weight:600;
   color:#39393a; 	
}
label#send-to-who{
   font-size:20px;
   font-weight:900;
   color:#ea9b04;	
}
#linkmug-link-send-img
{
  list-style-image: url("chrome://linkmug/skin/images/logo.png"); 
}
#linkmug-link-label
{
  color: green; 
  font-size:16px;
  font-weight:500;
}
#linkmug-msg-send-img
{
  list-style-image: url("chrome://linkmug/skin/images/msg.png"); 
}

#linkmug-msg-label
{
  color: green; 
  font-size:16px;
  font-weight:500;
}
label.link-label
{
  color: #7613B4; 
  font-size:12px; 
}
label.link-label-mini
{
  color: #73a012; 
  font-size:11px; 
}

label.option-label
{
  color: #1343B4; 
  font-size:12px; 
}
label#error_message
{
  color: #1343B4; 
  font-size:16px;
}

label.text-link
{
   font-size:0.8em;
}

vbox#send-link-vbox
{
   min-width:600px;
   max-width:600px;
}
groupbox#link-send-gbox
{
   min-width:580px;
   max-width:580px;
}
vbox#send-msg-vbox
{
   min-width:600px;
   max-width:600px;
}
groupbox#send-msg-gbox
{
   min-width:580px;
   max-width:580px;
}
description#desc_selectmug
{
   color: #BA7B08;
   font-size:0.9em;
}
